* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 60px;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  perspective: 20em;
  perspective-origin: 77px 100px;
}
.cube {
  position: relative;
  transform-style: preserve-3d;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  to {
    transform: rotateY(360deg);
  }
}
.top,
.bottom,
.left,
.right,
.front,
.back {
  height: 2em;
  width: 2em;
  background: aqua;
  position: absolute;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 50px 10px blue inset, 0 0 0 2em aqua inset;
}

.front {
  transform: translateZ(1em);
}
.back {
  transform: translateZ(-1em);
}
.top {
  transform: translateY(-1em) rotateX(90deg);
}
.bottom {
  transform: translateY(1em) rotateX(90deg);
}
.right {
  transform: translateX(1em) rotateY(90deg);
}
.left {
  transform: translateX(-1em) rotateY(90deg);
}

.shadow {
  position: absolute;
  background: aqua;
  width: 2em;
  height: 2em;
  transform: translateZ(-130px) translateX(30px);

  transform: rotateX(90deg) rotateZ(3deg);
  bottom: 0.8em;
  left: 4.2em;
  box-shadow: 0 120px 100px 10px blue, 0 120px 200px 10px blue;
  filter: blur(100px);
}
