.dialogBox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.dialogBox.show {
  opacity: 1;
  visibility: visible;
}

.dialogBox > div {
  width: 80%;
  margin: 20px auto;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 8px #000, 0 0 40px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
  transition: 0.3s;
}

.dialogBox.show > div {
  transform: scale(1);
}

.dialogBoxStyle1 {
  background-color: #eee;
  overflow: auto;
}

.dialogBoxStyle1 textarea {
  width: 100%;
}

.dialogBoxStyle1 button {
  margin: 20px 0 0;
  float: right;
}
