
.container {
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  box-shadow: 0 0 32px #000, 0 0 32px #000 inset;
}
.conical-grad {
  width: 200px;
  height: 200px;
  position: relative;
  /* filter: blur(25px); */
  background: linear-gradient(45deg, hsl(0, 100%, 50%) 50%, transparent 50%),
    linear-gradient(90deg, hsl(45, 100%, 50%) 50%, transparent 50%),
    linear-gradient(135deg, hsl(90, 100%, 50%) 50%, transparent 50%),
    linear-gradient(180deg, hsl(135, 100%, 50%) 50%, transparent 50%)
    linear-gradient(45deg, transparent 50%, hsl(180, 100%, 50%) 50%),
    linear-gradient(90deg, transparent 50%, hsl(225, 100%, 50%) 50%),
    linear-gradient(135deg, transparent 50%, hsl(270, 100%, 50%) 50%),
    linear-gradient(180deg, transparent 50%, hsl(315, 100%, 50%) 50%);
}

.conical-grad:before,
.conical-grad:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, hsl(0, 100%, 50%) 50%, transparent 50%),
    linear-gradient(90deg, hsl(45, 100%, 50%) 50%, transparent 50%),
    linear-gradient(135deg, hsl(90, 100%, 50%) 50%, transparent 50%),
    linear-gradient(180deg, hsl(135, 100%, 50%) 50%, transparent 50%);
  background-size: 200px 200px;
}

.conical-grad:after {
  bottom: 0;
  background: linear-gradient(45deg, transparent 50%, hsl(180, 100%, 50%) 50%),
    linear-gradient(90deg, transparent 50%, hsl(225, 100%, 50%) 50%),
    linear-gradient(135deg, transparent 50%, hsl(270, 100%, 50%) 50%),
    linear-gradient(180deg, transparent 50%, hsl(315, 100%, 50%) 50%);
  z-index: -1;
}
