body {
  max-inline-size: 88em;
  padding: var(--metric-box-spacing);
  margin: auto;
}
img {
  max-inline-size: 100%;
  block-size: auto;
  inline-size: 100%;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
main section {
  flex-basis: 22em;
  flex-grow: 1;
  padding: var(--metric-box-spacing);
  background-color: var(--color-off-white);
  border-radius: var(--metric-radius);
  box-shadow: var(--generic-shadow);
}
