.textOverImage {
  width: 200px;
  height: 200px;
  display: inline-block;
  background-size: cover;
  border-radius: 4px;
  margin: 4px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.textOverImage > input {
  display: none;
}

.textOverImage > div,
.textOverImage > h2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 20px;
  left: 4px;
  right: 4px;
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

.textOverImage:hover > h2,
.textOverImage > input:checked + h2 + div {
  bottom: 4px;
  opacity: 1;
}

.textOverImage > input:checked + h2 {
  bottom: -20px;
  opacity: 0;
}

.textOverImage > h2 {
  margin: 0;
}
