* {
  margin: 0;
  padding: 0;
}

/* -------------------------------------------- */

/* .body {
    object-fit: cover;
} */
/* .pencil-effect {
  height: 100vh;
  width: 100%;
  background: 
  /* url(3559043.webp),  
  url(3559043.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position: calc(50% — 1px) calc(50% — 1px),
    calc(50% + 1px) calc(50% + 1px);
  filter: brightness(3) invert(1) grayscale(1);
} */



/* -------------------------------------------- */
/* .pencil-effect {
  height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background:
    url(3559043.webp),
    radial-gradient(
        rgba(0,255,0,.8),
        black
    );
background-blend-mode: overlay;
} */

/* -------------------------------------------- */

.pencil-effect {
  background-image: url(3559043.webp);
  background-size: cover;
  background-position: center;
}

@supports (filter: invert(1)) and (background-blend-mode: difference) {
  .pencil-effect {
    background-image: url(3559043.webp), url(3559043.webp);
    background-blend-mode: difference;
    background-position: calc(50% - 1px) calc(50% - 1px), calc(50% + 1px) calc(50% + 1px);
    filter: brightness(2) invert(1) grayscale(1);
    box-shadow: inset 0 0 0 1px black;
  }
}
