* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #353535;
}
.container h2 {
  position: absolute;
  font-size: 12em;
  color: #444;
  text-shadow: -2px 2px 0 #222, -4px 4px 0 #222, -6px 6px 0 #222,
    -8px 8px 0 #222, -10px 10px 0 #222, -10px 10px 0 #222, -12px 12px 0 #222,
    -14px 14px 0 #222, -16px 16px 0 #222, -16px 16px 20px #000,
    -16px 16px 30px #000, -18px 18px 50px #000, -18px 18px 150px #000;
  line-height: 1em;
}
.container h2:nth-child(2) {
  color: #03a9f4;
  text-shadow: -2px 2px 0 #0375a9, -4px 4px 0 #0375a9, -6px 6px 0 #0375a9,
    -8px 8px 0 #0375a9, -10px 10px 0 #0375a9, -10px 10px 0 #0375a9,
    -12px 12px 0 #0375a9, -14px 14px 0 #0375a9, -16px 16px 0 #0375a9,
    -16px 16px 20px #000, -16px 16px 30px #000, -18px 18px 50px #000,
    -18px 18px 150px #000;
  clip-path: circle(20% at 50% 100%);
  transition: clip-path 2.5s;
}
.container h2:hover:nth-child(2) {
  clip-path: circle(60% at 50% 100%);
}

.container h2:nth-child(3) {
  color: #2cff37;
  text-shadow: -2px 2px 0 #2cff37, -4px 4px 0 #2cff37, -6px 6px 0 #2cff37,
    -8px 8px 0 #2cff37, -10px 10px 0 #2cff37, -10px 10px 0 #2cff37,
    -12px 12px 0 #2cff37, -14px 14px 0 #2cff37, -16px 16px 0 #2cff37,
    -16px 16px 20px #000, -16px 16px 30px #000, -18px 18px 50px #000,
    -18px 18px 150px #000;
  clip-path: circle(20% at 0% 10%);
  transition: clip-path 2.5s;
}
.container h2:hover:nth-child(3) {
  clip-path: circle(120% at 0% 10%);
}

.container h2:nth-child(4) {
  color: #e91e63;
  text-shadow: -2px 2px 0 #e91e63, -4px 4px 0 #e91e63, -6px 6px 0 #e91e63,
    -8px 8px 0 #e91e63, -10px 10px 0 #e91e63, -10px 10px 0 #e91e63,
    -12px 12px 0 #e91e63, -14px 14px 0 #e91e63, -16px 16px 0 #e91e63,
    -16px 16px 20px #000, -16px 16px 30px #000, -18px 18px 50px #000,
    -18px 18px 150px #000;
  clip-path: circle(20% at 100% 50%);
  transition: clip-path 2.5s;
}
.container h2:hover:nth-child(4) {
  clip-path: circle(120% at 100% 50%);
}
