.onClickTextOverImage{
  width: 200px;
  height: 200px;
  background-size: cover;
  display: inline-block;
  margin: 4px;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  position: relative;
}

.onClickTextOverImage  *{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.onClickTextOverImage div {
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 8px;
  padding-top: 35%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  transition: 0.3s;
}
.onClickTextOverImage div:target {
  opacity: 1;
  padding-top: 40%;
  z-index: 3;
}
